<header>
    <div class="header">
        <a ng-click="back()" class="a-back"><span></span><b>返回</b></a>
        <h2>添加按钮</h2>
        <a ng-click="yes();back();" class="a-r"><span>完成</span></a>
    </div>
</header>
<section class="bg_f6f6f5">
    <div class="add_btn">
        <div>
            <input type="text" placeholder="请输入文字" class="add_btn_text">
        </div>
        <div>
            <input type="text" placeholder="http://www.5.cn/" class="add_btn_link">
        </div>
    </div>
</section>
<footer>
    <div class="edit_text_box">
        <div class="display_area">
            <div class="animation-parameters-set">
                <div class="set-line">
                    <div class="set-btn"></div>
                </div>
                <div class="values">
                    <span>0</span> S
                </div>
            </div>
        </div>
        <div class="edit_text_nav">
            <div>颜色</div>
            <div>字号</div>
            <div>文字颜色</div>
            <div>圆角</div>
            <div class="act">链接</div>
            <span></span>
        </div>
    </div>
</footer>
