<header>
    <div class="header">
        <a ng-click="back()" class="a-back"><span></span><b>返回</b></a>
        <h2>添加按钮</h2>
        <a ng-click="yes();back();" class="a-r"><span>完成</span></a>
    </div>
</header>
<section class="bg_f6f6f5">
    <div class="add_btn">
        <div>
            <textarea type="text" placeholder="请输入文字" class="add_btn_text" style="font-size:{{fontSize}}px; border-radius:{{radius}}px"  ></textarea>
          	
        </div>
        <div>
            <input type="text" placeholder="http://www.5.cn/" class="add_btn_link">
        </div>
    </div>
</section>
<footer>
    <div class="edit_text_box" btn>
        <div class="edit_box">
            <div class="display_area"> 	
            	  <div class="bj_color_box">
                      <div class="bj_color_name">颜色</div>
                      <div class="bj_color" x-drag-x-directive>
                        <div class="s-edit-btn" >
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>                    
					  </div> 
                  </div>
            </div>
            <div class="display_area"> 	
                    <div class="animation-parameters-set">
                            <my-scroll ng-init="fontsize_min=12 ; fontsize_max=50;" loadDataFn="loadData1()" fw="0" tt=""></my-scroll>
                    </div>	
            </div>
            <div class="display_area"> 	
                    <div class="animation-parameters-set">
                   
                </div>  
            </div>
            <div class="display_area"> 	
                <div class="animation-parameters-set">
                    <my-scroll ng-init="radius_min=0 ; radius_max=20;" loadDataFn="loadData2()" fw="0" tt=""></my-scroll>
                </div>  
            </div>
            <div class="display_area"> 	
                    <div class="animation-parameters-set">
                    
                </div>  
            </div>
        </div>
        <div class="edit_text_nav">
            <div>颜色</div>
            <div>字号</div>
            <div>文字颜色</div>
            <div>圆角</div>
            <div>链接</div>
            <span></span>
        </div>
    </div>
</footer>
