<header>
    <div class="header">
        <a href="#/" class="a-back"><span></span><b>返回</b></a>
        <h2>选择素材</h2>
        <a href="javascript:;" class="a-r"><span>预览</span></a>
    </div>
</header>
<section class="stage_bj">
	<div class="stage-box">
    	<div class="stage" x-common-directive>
        <!-- <div class="page">
            <div class="s-img" ng-repeat="img in pages[active].imgs" x-cropper-directive style="left:{{img.style.left}}px; top:{{img.style.top}}px;">
            <img ng-src="{{img.src}}">
        </div> -->
        <div class="page cut" ng-repeat="page in pages track by $index" ng-class="{lottery:lottery,current:($index === active)}" x-lottery-directive>
            <div class="s-img" ng-repeat="img in page.imgs" x-cropper-directive style="left:{{img.style.left}}; top:{{img.style.top}}; width:{{img.style.width}}; height:{{img.style.height}};">
            <img ng-src="{{img.src}}">
        </div>
    </div>
</section>
<footer>
    <div class="stage-nav">
        <div class="s-control-btn" ng-click="control()"><i></i></div>
        <div ng-class="{'s-c-b-list':true,hide:!swift}">
            <div class="s-n-box">
                <div>
                    <span ng-click="copyPage()">
                        <em class="copy"></em>
                        复制
                    </span>
                </div>
                <div>
                    <span ng-click="deletePage()">
                        <em class="del"></em>
                        删除
                    </span>
                </div>
            </div>
        </div>
        <div ng-class="{'s-c-b-list':true,hide:swift}" x-drag-x-directive>
            <div class="s-edit-btn">
                <div>
                    <a ng-href="#/text">
                        <span>
                            <em class="text"></em>
                            文本
                        </span>
                    </a>
                </div>
                <div>
                    <span>
                        <em class="bj"></em>
                        背景
                    </span>
                </div>
                <div>
                    <span>
                        <em class="img"></em>
                        图片
                    </span>
                </div>
                <div>
                    <a ng-href="#/lottery">
                        <span>
                            <em class="draw"></em>
                            涂抹
                        </span>
                    </a>
                </div>
                <div>
                    <span ng-click="addPage()">
                        <em class="add_page"></em>
                        加页
                    </span>
                </div>
                <div>
                    <a ng-href="#/music">
                        <span>
                        <em class="music"></em>
                        音乐
                    </span>
                    </a>
                </div>
                <div>
                    <a ng-href="#/hyperLink">
                        <span>
                            <em class="copy"></em>
                            按钮
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-operate" ng-class="{hide:true}">
        <div class="animation-parameters">
            <div class="item durationTime">
                <div class="title">
                动画时间
            </div>
                <div class="animation-parameters-set" x-drag-set-directive x-defaultx="1" x-big="15" x-unit="S">
                </div>
            </div>
            <div class="item delayTime">
                <div class="title">
                延时时间
                </div>
                <div class="animation-parameters-set" x-drag-set-directive x-defaultx="1.4" x-big="10" x-unit="S">
                </div>
            </div>
        </div>
        <div class="animation-nav-btn">
        <div class="clear-animation">
            <span></span>
            <em>清除动画</em>
        </div>
        <div class="animation-btn-list">
            <div class="ani-btn">
                <div class="fadeInBtn">
                    <span class="fadeIn"></span>
                    <em>淡入</em>
                </div>
                <div class="fadeOutBtn">
                    <span class="fadeOut"></span>
                    <em>淡出</em>
                </div>
                <div class="amplifyBtn">
                    <span class="amplify"></span>
                    <em>放大</em>
                </div>
                <div class="rotationBtn">
                    <span class="rotation"></span>
                    <em>旋转</em>
                </div>
                <div class="shakeBtn">
                    <span class="Shake"></span>
                    <em>抖动</em>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
