<header>
    <div class="header">
        <a ng-click="back()" class="a-back"><span></span><b>返回</b></a>
        <h2>编辑文本</h2>
        <a ng-click="yes();back();" class="a-r"><span>完成</span></a>
    </div>
</header>
<section>
    <div class="text_area">
        <textarea class="textarea" style="height: 200px;" placeholder="请输入您要编辑的内容" ng-model="text"></textarea>
    </div>
</section>
<footer>

<div class="edit_text_box" btn>
    <div class="edit_box">
            <div class="display_area" style="display:block;"> 	
                    <div class="animation-parameters-set">
                    <my-scroll info="font" ></my-scroll>
                </div>  
            </div>
            <div class="display_area"> 	
                    <div class="animation-parameters-set">
                    <my-scroll info="color" ></my-scroll>
                </div>  
            </div>
            <div class="display_area"> 	
                    <div class="animation-parameters-set">
                    <my-scroll info="backgound" ></my-scroll>
                </div>  
            </div>
            
        </div>
    <div class="edit_text_nav">
        <div>字号</div>
        <div>颜色</div>
        <div class="act">背景</div>
        <span></span>
    </div>
</div>
</footer>
