<header>
    <div class="header">
        <a ng-click="back()" class="a-back"><span></span><b>{{buttonLeft}}</b></a>
        <h2>{{name}}</h2>
        <a ng-click="yes();back();" class="a-r"><span>{{buttonRight}}</span></a>
    </div>
</header>
<section>
    <div class="text_area">
        <textarea class="textarea" style="height: 200px;" placeholder="{{placeholder}}" ng-model="text"></textarea>
    </div>
</section>
<footer>
    <div class="edit_text_nav">
        <div>{{fn1}}</div>
        <div>{{fn2}}</div>
        <div class="act">{{fn3}}</div>
        <span></span>
    </div>
</footer>
